/* Add this to your CSS file */
/* .register-image {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
} */
.password-requirements {
  list-style-type: none;
}
