.cv-update-title{
  color: #333;
  border-bottom: 2px solid #89ba16b8;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-weight:600;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.cv-details {
  max-width: 700px;
  margin: 0 auto;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  position: relative;
  display: flex;
}

 

.cv-section-container {
  min-height: 300px;
  transition: transform 0.5s ease-in-out;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cv-section {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
}

.cv-item {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.cv-item:last-child {
  border-bottom: none;
}

.cv-item p {
  margin: 5px 0;
  color: #333;
}

.cv-item img {
  display: block;
  margin: 0 auto 10px;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #89ba16b8;
}

.cv-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.cv-navigation-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.cv-navigation span {
  font-weight: bold;
  font-size: 1.2em;
  color: #89ba16b8;
  margin-bottom: 10px;
}

.cv-navigation button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cv-navigation button:nth-child(1) {
  background-color: #89ba16b8;
}

.cv-navigation button:nth-child(2) {
  background-color: #89ba16b8;
}

.cv-navigation button:nth-child(3) {
  background-color: #89ba16b8;
}

.cv-navigation button:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .cv-details {
    padding: 15px;
  }
}
.cv-content {
  flex: 1;
}

.cv-progress-line {
  width: 6px;
  background-color: #e0e0e0;
  margin-left: 20px;
}

.cv-progress-indicator {
  width: 100%;
  border-radius: 20px;
  background-color: #89ba16b8;
  transition: height 0.3s ease;
}
.close-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-button:hover {
  background-color: #d32f2f;
}

.close-button:active {
  transform: scale(0.98);
}
.detail-bg{
  padding: 2.5rem;
  border-radius: 8px;

}