.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.cv-card-title{
  font-weight: bolder;
}
.dialog-content {
  background-color: rgba(107, 107, 107, 0.682);
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: 95%;
  height: 90vh;
  overflow: auto;
}

.dialog-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.cv-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.cv-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  position: relative;
}

.cv-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.cv-card:hover::before {
  opacity: 1;
}

.cv-card:hover {
  transform: translateY(-5px);
}

.cv-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cv-card-content {
  padding: 20px;
}

.cv-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.cv-card p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
}

.cv-card-actions {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-around;
  padding: 10px;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.cv-card:hover .cv-card-actions {
  opacity: 1;
}

.cv-card-actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: white;
  transition: transform 0.3s ease;
  animation: pulse 2s infinite;
}

.cv-card-actions button:hover {
  transform: scale(1.2);
 
}
.cv-icon-1,.cv-icon-2,.cv-icon-3{
  color: #ffffff !important;
}
.cv-icon-1:hover{
  color:burlywood !important;
}
.cv-icon-2:hover{
  color:rgb(59, 157, 255) !important;
}
.cv-icon-3:hover{
  color: red !important;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
