.card {
  display: flex;
  flex-direction: column;
}

.text-truncate-multiline {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Số lượng dòng bạn muốn hiển thị */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.text-truncate-two {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Số lượng dòng bạn muốn hiển thị */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
