.jb_category-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 60px 50px;
}

.jb_category-item a.jb_item {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.jb_category-item {
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

/* Alphabet Navigation Bar */
.jb_alphabet-nav {
    font-size: 15px;
}

.jb_alphabet-nav .jb_nav-link {
    padding: 5px 7px;
    margin: 0 3px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.jb_alphabet-nav .jb_nav-link:hover {
    background-color: #007bff;
    color: #fff;
}

.jb_alphabet-nav .jb_nav-link.jb_active {
    background-color: #007bff;
    color: #fff;
}

/* home */
.jb_custom-img {
    height: 100%;
    width: 100%;
}

@media (min-width: 768px) {
    .jb_custom-img {
        height: 110px;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .jb_custom-img {
        height: 110px;
        width: 100%;
    }
}

li.trf {
    margin-left: 0;
}

/* ul.trf1 li {
    margin-left: 2px;
} */

.jb_header1 {
    margin-bottom: 14px;
}

.jb_content1 {
    font-size: 15.5px;
}

.jb_content0 {
    margin-left: 50px;
    margin-right: 50px;
}

.jb_content_for_company {
    margin-left: 60px;
    margin-right: 1px;
}

.jb_bg-light {
    background-color: #ffedf9;
}

.jb_text1 {
    font-size: 13px;
}

.btn_saved_job {
    background-color: rgba(88, 88, 88, 0.87);
    color: #ffffff;
}