.jb_job-listing {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 30px 20px;
    margin-bottom: 50px;
    font-size: 13.5px;
}

.jb_number-job {
    margin: 10px 20px;
    margin-top: 10em;
    font-weight: bolder;
}

.jb_category-name {
    color: red;
}

.jb_single-job-item:hover {
    border-color: #999;
}

.jb_single-job-item.jb_selected {
    border-color: red;
}

.jb_single-job-item {
    display: flex;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 15px;
    margin-left: 90px;
    width: 100%;
    margin: 0 400px;
    background-color: rgb(255, 242, 225);
}

.jb_company-details {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.jb_company-img {
    margin-right: -10px;
}

.jb_company-img img {
    margin-top: -10px;
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 10%;
}

.jb_job-info .jb_company-name {
    color: #333;
    margin-left: 1.3em;
    margin-top: 1em;
    text-decoration: none;
}

.jb_job-info .jb_company-position {
    color: #333;
    margin-left: 0;
}

.jb_job-info .jb_job-location {
    color: #000000;
    margin-top: -10px;
}

.jb_job-info {
    color: #000000;
    flex: 1;
}

.jb_time-post {
    color: #7e7e7e;
}

.jb_job-info .jb_jobName {
    cursor: pointer;
    font-size: 15.5px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
}

.jb_job-skills .jb_skill-badge {
    display: inline-block;
    background-color: #bcbcbc7c;
    /* border: 100%; */
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 3px 10px;
    margin: 0 5px 0 2px;
    color: #000000;
}

.jb_job-skills {
    margin-left: 0;
}

.jb_job-info .jb_company-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}

.jb_icon-location {
    color: #777777;
}

.jb_pagination {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    margin-bottom: 60px;
}

.jb_pagination .jb_pagination-button {
    border: 1px solid #7a7777c6;
    color: #000000;
    border-radius: 10%;
    padding: 7px 17px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #f8f8f8;
    transition: background-color 0.3s ease;
}

.jb_pagination-ellipsis {
    border: 1px solid #ffffff;
    color: #000000;
    border-radius: 10%;
    padding: 7px 17px;
    margin: 0 5px;
    background-color: #f8f8f8;
}

.jb_pagination .jb_pagination-button.jb_active {
    background-color: #007bff;
    color: white;
    border-color: #ffffff;
}

.jb_pagination-button:hover,
.jb_pagination-button:focus {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    outline: none;
}






.jb_bg-light {
    background-color: #ffedf9;
}

.jb_text1 {
    font-size: 13px;
}