.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

ul.dropdown ul li {
  width: 200px;
  /* Điều chỉnh kích thước theo ý muốn */
  text-align: left;
}

/* Categrory */
/* Định dạng cho dropdown */
.site-navbar .dropdown {
  position: relative;
}

.site-navbar .dropdown>div {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 15px;
  width: 600px;
}

.site-navbar .dropdown:hover>div {
  display: block;
}

.site-navbar .dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.site-navbar .dropdown ul li {
  flex: 1 1 25%;
  padding: 5px 10px;
}

.site-navbar .dropdown ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 5px;
  transition: background-color 0.2s;
}

.site-navbar .dropdown ul li a:hover {
  background-color: #f7f7f7;
}

/* Tạo hiệu ứng khi rê chuột vào danh mục */
ul.dropdown ul li:hover {
  background-color: #f0f0f0;
  /* Màu nền khi rê chuột vào */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.dropdown {
  position: relative;
  /* Đảm bảo phần tử cha có vị trí tương đối */
}

.dropdown ul {
  position: absolute;
  /* Hiển thị phần tử con ở vị trí tuyệt đối */
  right: 0;
  /* Đẩy nó ra bên phải */
  display: none;
  /* Ẩn danh sách khi không được hover */
}

.dropdown:hover ul {
  display: block;
  /* Hiển thị danh sách khi dropdown được hover */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.password-requirements {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.password-requirements li {
  display: flex;
  align-items: center;
}

.password-requirements .valid {
  color: green;
}

.password-requirements .invalid {
  color: red;
}

.password-requirements .text-success {
  margin-right: 5px;
}

.password-requirements .text-danger {
  margin-right: 5px;
}