.input-group {
  position: relative;
}

.input-group-append {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 99;
}

.input-group-text {
  background: transparent;
  border: none;
}
