.text-truncate-multiline {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4 !important; /* Số lượng dòng bạn muốn hiển thị */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
