.has-children .dropdown {
  display: none;
  font-size: 15px;
  position: absolute;
  width: 200px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* Điều chỉnh chiều rộng của menu dropdown chính */
  list-style-type: none;
}

.has-children:hover .dropdown {
  display: block;
}

.dropdown-item {
  position: relative;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style-type: none;
  /* Thêm dòng này */
}

.dropdown-item .icon {
  margin-left: 5.1em;
  font-size: 80%;
}

.dropdown-item .icon3 {
  margin-left: 3em;
  font-size: 80%;
}

.sub-dropdown {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  width: 700px;
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 0;
  list-style-type: none;
  /* Thêm dòng này */
  padding-left: 0;
  /* Đảm bảo không có thụt lề bên trái */
}

.dropdown-item:hover>a {
  background-color: #3b3d3e !important;
  color: #ffffff !important;
}

.dropdown-item:hover .sub-dropdown {
  display: grid;
}

.sub-dropdown li {
  background-color: rgba(0, 0, 0, 0.838) !important;
  color: #ffffff95 !important;
  list-style-type: none;
  padding: 10px;
}

.sub-dropdown li a {
  background-color: rgba(0, 0, 0, 0.838) !important;
  color: #ffffff95 !important;
  width: 100%;
}

.sub-dropdown li:hover {
  background-color: rgba(192, 192, 192, 0.427) !important;
  color: #ffffff !important;
}

.sub-dropdown li:hover a {
  background-color: rgba(0, 0, 0, 0) !important;
  color: #ffffff !important;
}

li .view-all {
  display: block;
  padding-right: 188%;
  padding-left: 112%;
  margin-bottom: 20px;
}

li .view-all .icon2 {
  font-size: 80%;
}

li .view-all .icon4 {
  font-size: 80%;
}