:root {
  bg-primary: #89ba16;
}

.custom-dropdown-menu {
  left: auto !important;
  right: 0 !important;
  width: 200px !important;
  transform: translate3d(
    0,
    38px,
    0
  ) !important; /* Adjust the vertical alignment as needed */
}

.active {
  color: "#fff";
  background-color: var(--bg-primary);
}

.icon {
  position: relative; /* Enable absolute positioning for the badge */
  cursor: pointer;
  margin-right: 50px;
  line-height: 60px;
}
.icon span {
  background: #f00;
  padding: 7px;
  border-radius: 50%;
  color: #fff;
  vertical-align: top;
  margin-left: -25px;
}
.icon img {
  display: inline-block;
  width: 26px;
  margin-top: 4px;
}
.icon:hover {
  opacity: 0.7;
}
.logo {
  flex: 1;
  margin-left: 50px;
  color: #eee;
  font-size: 20px;
  font-family: monospace;
}
.notifications {
  width: 300px;
  height: auto;
  opacity: 1;
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  top: 63px;
  right: 62px;
  border-radius: 5px 0px 5px 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.notifications h2 {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #eee;
  color: #999;
}
.notifications h2 span {
  color: #f00;
}
.notifications-item {
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 6px 9px;
  margin-bottom: 0px;
  cursor: pointer;
}
.notifications-item:hover {
  background-color: #eee;
}
.notifications-item img {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 9px;
  border-radius: 50%;
  margin-top: 2px;
}
.notifications-item .text h4 {
  color: #777;
  font-size: 16px;
  margin-top: 3px;
}
.notifications-item .text p {
  color: #aaa;
  font-size: 12px;
}
.icon .shake {
  animation: shake 0.5s linear infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.text-truncate-multiline {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Số lượng dòng bạn muốn hiển thị */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
