.pdf-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9; /* Light background color */
    border-radius: 8px; /* Rounded corners */
    max-width: 80%; /* Limit max width */
    margin: 0 auto; /* Center the container horizontally */
    position: relative; /* Position relative to place button absolutely */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  .pdf-detail-container h2 {
    font-weight: bolder; /* Bold text for file names */
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 2.5rem;
    color: #333; /* Darker color for the title */
    margin-bottom: 20px;
  }
  
  .back-to-list {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #89ba16b8; /* Main page color */
    color: #fff; /* White text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .back-to-list:hover {
    background-color: #76a214; /* Darker shade on hover */
  }
  
  .pdf-viewer-container {
    width: 100%; /* Full width */
    height: 800px; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* White background */
    border-radius: 4px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    overflow: hidden; /* Hide overflow */
  }
  
  .customViewer {
    width: 100%;
    height: 100%;
  }
  