.apply-box {
  width: 60%;
  max-height: 80vh;
  margin: 0 auto;
  padding: 30px;
  font-size: 1rem ;
  font-family: Arial, sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.apply-box-overlay {
  background-color: #555555b9;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

  
  .apply-box h2 {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #555;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  .form-group input[type="text"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .form-group input[type="file"] {
    display: block;
    margin-top: 5px;
  }
  
  .form-group small {
    display: block;
    margin-top: 5px;
    color: #777;
    font-size: 12px;
  }
  
  .form-group textarea {
    height: 100px;
    resize: vertical;
  }
  
  .submit-button {
    background-color: #89ba16e0;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .submit-button:hover {
    background-color: #89ba16af;
  }
  
  .file-upload {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .file-upload-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .file-upload-text {
    margin-left: 10px;
    color: #777;
  }